body {
    display: flex;
    justify-content: center;
}
#leftside {
    background-color: rgb(0, 235, 252);
    margin-top: 300px;
    height: 1250px;
}
#rightside {
    background-color: cornsilk;
    margin-top: 300px;
    width: 800px;
}
#CV {
    margin-left: 18px;
    font-size: 30px;
}
#foto {
    content: url('/Foto/160589340_500069048035733_7916762175827156248_n.jpg');
    height: 400px;
    width: 400px;
}
#myinfo {
    font-size: 22px;
    margin-top: 30px;
}
.info {
    margin-top: 15px;
}
.skill {
    font-size: 18px;
    margin-top: 30px;
}
#contacts {
    margin-left: 18px;
    font-size: 30px;
}
#skills {
    margin-left: 18px;
    font-size: 30px;
}
.about {
    margin-left: 20px;
}
.ftex {
    position: relative;
    left: 20px;

}