body {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 62, 62);
}
#leftside {
    background-color: rgba(141, 141, 141, 0.973);
    margin-top: 300px;
    height: 1250px;
    position: relative;
    box-shadow: 0 0 10px black;
}
#rightside {
    background-color: rgb(203, 202, 204);
    margin-top: 300px;
    width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}
#CV {
    margin-left: 18px;
    font-size: 30px;
}
#foto {
    content: url('/Foto/160589340_500069048035733_7916762175827156248_n.jpg');
    height: 400px;
    width: 400px;
}
#myinfo {
    font-size: 22px;
    margin-top: 30px;
}
.info {
    margin-top: 15px;
}
.skill {
    font-size: 18px;
    margin-top: 30px;
}
#contacts {
    margin-left: 18px;
    font-size: 30px;
}
#skills {
    margin-left: 18px;
    font-size: 30px;
}
.about {
    margin-left: 20px;
}
.ftex {
    position: relative;
    left: 20px;
}
#circle {

}